
body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  padding:20px;

}
#container{
         
     height: 95vh;
     animation-name: Bground;
     animation-fill-mode: backwards;
     animation-duration: 2s;
     clip-path: ellipse( 150vh 60vh at 50% 36% );
     animation-fill-mode: forwards;
   
}     

  
#content{
  width: 100%;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#header{
  color: white;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation: downani;
  animation-duration: 1s;
  margin-bottom:0%;
}
#inner{
  margin-top:0%;
  color: white;
  animation: upani;
  animation-duration: 1s;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.5px;
  
}

button{
  width: 180px;
  padding: 10px;
  margin: 18px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
  outline: none;
  color: rgb(73, 73, 73);
  background: white;
  box-shadow:0 8px 8px rgba(27, 27, 27, 0.589);
  animation-name: movingright;
  animation-duration: 1s;
  animation-delay: .6s;
  animation-fill-mode: backwards;
  
}

 button:hover{
   background-color: rgb(248, 123, 231);
   color:rgb(216, 216, 216);
}


@keyframes Bground{
  0%{
    background: linear-gradient( #ffcde8,  #ff95cf 50% 50% ) ;
    background-position: center;
  }

  100%{
    background:linear-gradient(#fcc1e180 , #d3278386 ), url(Strawberry-and-Cake-PPT-Backgrounds-Template-ppt-background-images-hd.jpg) ;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: bottom;
      
  }
}

@keyframes downani{
  0% {
    transform: translateY(-140px);
    opacity: 0;
  }
  50%{
    transform: translateY(25px);
    opacity: .5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
  @keyframes upani{
    0% {
      transform: translateY(140px);
      opacity: 0;
    }
    50%{
      transform: translateY(-15px);
      opacity: .5;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  @keyframes movingright{
    0% {
      transform: translateX(-170px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  